<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Meteor Boilerplate">
    <meta name="author" content="https://github.com/robertdavid010/meteor_boilerplate">
    <link rel="icon" sizes="16x16 32x32" href="/favicon/favicon.ico">
    <title>Meteor Boilerplate</title>
    <!-- Custom styles for this template -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
</head>
