<template name="tasksList">
<!-- Template: tasksList; File: tasksList.html -->
<h3>Tasks List</h3>

<ul id="status-tabs" class="nav nav-tabs nav-fill" role="tablist">
  <li class="nav-item">
    <a class="nav-link {{#if eq status 'incomplete'}}active{{/if}}"
	    data-action="select-tab"
	    data-param="incomplete"
	    href="#">Incomplete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if eq status 'completed'}}active{{/if}}"
	    data-action="select-tab"
	    data-param="completed"
	    href="#">Completed</a>
  </li>
</ul>

<ul class="list-unstyled">
	{{!-- {{> testThumb}} --}}
	{{#each tasks status}}
	<div class="card my-2">
		<div class="card-body py-1">
		  <li class="media">
		    <div class="media-body">
		      <h5 class="mt-0 mb-1">{{title}}</h5>
		      {{content}}
		    </div>
		    {{!-- <img class="mr-3 img-thumbnail" src="..." alt="..."> --}}
		    {{#if eq status 'completed'}}
			    <a href="" class="btn btn-sm btn-outline-danger align-self-center" data-action="delete-task" data-id="{{_id}}">&times;</a>
		    {{else}}
			    <a href="" class="btn btn-sm btn-outline-dark align-self-center" data-action="complete-task" data-id="{{_id}}">&#10003;</a>
		    {{/if}}
		  </li>
	  </div>
  </div>
  {{/each}}
</ul>

<!-- END Template: tasksList; File: tasksList.html -->
</template>


<template name="testThumb">

<div class="card my-2">
	<div class="card-body py-1">
	  <li class="media">
	  	<a href=""
	  		data-toggle="master-modal"
	  		data-title="Image Name"
	  		data-template="lightboxModal"
	  		data-size="lg"
	  	>
		    <img class="mr-3 img-thumbnail" src="..." alt="...">
	  	</a>
	    <div class="media-body">
	      <h5 class="mt-0 mb-1">Image lightbox test</h5>
	      Click the thumnail to launch a modal displaying the full image
	    </div>
	    <a href="" class="btn btn-sm btn-outline-dark align-self-center">&#10003;</a>
	  </li>
  </div>
</div>

</template>